/*@import url('https://fonts.googleapis.com/css?family=Great+Vibes');*/

*{
	margin: 0;
	padding:0;

}


#container{
	width: 100vw;
	margin: 0 auto;
	background-color: white;
	
}

ul{
	background-color: #ffffff;
	width:100;
	height: 60px;

}

ul li{
	float:left;
	padding-left:122px;
	list-style-type: none;
	line-height: 60px;
}


ul li a {
	text-decoration: none;
	color:black;

}

ul li a:hover {
	color:black;
	font-weight:bold;

}


}

h2{
	text-align: center;
}


h3{
	color:black;
	font-style: italic;

}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;

}


}

div{
	background-color: #ffffff;
	width: 100%;
	height: 400px;
	text-align: center;
	margin:0 auto;

}

/*div img {
	height: 300px;
    width: 50%;
}*/


div video {
	width: 100%;
}

/*.colorpurple{
	color:purple;
}*/